@import 'banner.css';
@import 'navigation.css';
@import 'about.css';
@import 'services.css';
@import 'portfolio.css';
@import 'contacts.css';
@import 'reviews.css';
@import 'blog.css';

.App {
  width: 100%;
}
.holder {
  width: 1170px;
  margin: 0 auto;
}
body,div,p {
  margin: 0;
  padding: 0;
}
